
.debtPage {
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    padding-top: 80px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.debtTitle {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.debtDetails p {
    font-size: 18px;
    margin: 10px 0;
}

.interestCalculation {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.strategySelect, .calculateButton, .updateButton {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.strategySelect {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.calculateButton {
    background-color: #007bff;
    color: white;
    transition: background-color 0.2s ease;
}

.calculateButton:hover {
    background-color: #0056b3;
}

.interestResult {
    margin-top: 10px;
    font-size: 18px;
    color: #007bff;
}

.updateDebt {
    margin-top: 30px;
}

.updateDebt h3 {
    margin-bottom: 20px;
}

.inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.updateButton {
    background-color: #28a745;
    color: white;
    transition: background-color 0.2s ease;
}

.updateButton:hover {
    background-color: #218838;
}

.notLoggedInContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.viewDetailsButton2 {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.viewDetailsButton2:hover {
    background-color: #0056b3;
}